{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    'class-methods-use-this': ['error', {
      "exceptMethods": [
        'render',
        'getInitialState',
        'getDefaultProps',
        'getChildContext',
        'componentWillMount',
        'componentDidMount',
        'componentWillReceiveProps',
        'shouldComponentUpdate',
        'componentWillUpdate',
        'componentDidUpdate',
        'componentWillUnmount',
      ],
    }],
  }
}
